<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>TH Baijam</string>
	<string>TH Chakra Petch</string>
	<string>TH Charm of AU</string>
	<string>TH K2D July8</string>
	<string>TH Kodchasal</string>
	<string>TH KoHo</string>
	<string>TH Krub</string>
	<string>TH Niramit AS</string>
	<string>TH Srisakdi</string>
</array>
</plist>
